@font-face {
	font-family: 'unscii-16';
	src: url('fonts/unscii_by_viznut/unscii-16.woff') format('woff');
}

@font-face {
	font-family: 'unscii-8';
	src: url('fonts/unscii_by_viznut/unscii-8.woff') format('woff');
}

@font-face {
	font-family: 'unscii-8-thin';
	src: url('fonts/unscii_by_viznut/unscii-8-thin.woff') format('woff');
}

@font-face {
	font-family: 'unscii-8-tall';
	src: url('fonts/unscii_by_viznut/unscii-8-tall.woff') format('woff');
}

@font-face {
	font-family: 'unscii-8-mcr';
	src: url('fonts/unscii_by_viznut/unscii-8-mcr.woff') format('woff');
}

@font-face {
	font-family: 'unscii-8-fantasy';
	src: url('fonts/unscii_by_viznut/unscii-8-fantasy.woff') format('woff');
}

@font-face {
	font-family: 'unscii-8-alt';
	src: url('fonts/unscii_by_viznut/unscii-8-alt.woff') format('woff');
}

@font-face {
    font-family: "BoldPixels";
    src: url("fonts/BoldPixels_by_yukipixels/BoldPixels.eot"); /* IE9 */
    src: url("fonts/BoldPixels_by_yukipixels/BoldPixels.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonts/BoldPixels_by_yukipixels/BoldPixels.woff2") format("woff2"), /* chrome、firefox、opera、Safari, Android, iOS */
    url("fonts/BoldPixels_by_yukipixels/BoldPixels.woff") format("woff"), /* chrome、firefox */
    url("fonts/BoldPixels_by_yukipixels/BoldPixels.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("fonts/BoldPixels_by_yukipixels/BoldPixels.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}

:root,
body {
	background-color: rgb(var(--black) / 100%);
	color: rgb(var(--white) / 100%);
	font-family: 'unscii-16', monospace;
	height: 100%;
	font-size: 1.1rem;

	--white: 230 200 200;
	--black: 8 8 18;
	--red: 236 72 153;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'unscii-8-tall', monospace;
}

body {
	display: flex;
	flex-flow: row nowrap;
	margin: 0;
	overflow: hidden;
}

aside {
	flex-shrink: 0;
	border-right: 0.5px solid rgb(var(--white) / 50%);
	padding-right: 2rem;
}

aside nav ul {
	list-style: none;
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5rem;
}

main {
	display: flex;
	flex-flow: column nowrap;
	gap: 1rem;
	align-items: center;
	flex-grow: 1;
	padding: 0 3rem 3rem;
	overscroll-behavior: none;
	overflow: auto;
}

h1,
h2,
h3,
p {
	width: 100%;
}

a {
	color: var(--white);
	font-weight: 600;
}

a:hover {
	color: color-mix(in srgb, rgb(var(--white) / 100%) 50%, rgb(var(--red) / 100%));
}

a:active {
	color: rgb(var(--red) / 100%);
}

canvas {
	border: 0.5px solid rgb(var(--white) / 50%);
	touch-action: manipulation;
	user-select: none;
}

canvas:focus {
	border: 1px solid rgb(var(--red) / 100%);
	outline: 2px solid rgb(var(--red) / 100%);
	outline-offset: 2px;
}

blockquote.warning {
	margin: 0;
	width: 100%;
	background-color: rgb(var(--red) / 10%);
	border-left: 4px solid rgb(var(--red) / 100%);
	padding: 0 1rem;
	box-sizing: border-box;
}

@property --c3-from {
	syntax: '<color>';
	initial-value: rgb(124, 58, 237);
	inherits: false;
}

@property --c3-to {
	syntax: '<color>';
	initial-value: rgb(37, 99, 235);
	inherits: false;
}

.c3-link {
	font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		Segoe UI Symbol, 'Noto Color Emoji';
	color: transparent;
	text-decoration: none;
	background-clip: text;
	background-image: linear-gradient(to left, var(--c3-from), var(--c3-to));
	transition: --c3-from 0.5s, --c3-to 0.5s;
}

.c3-link:hover {
	color: transparent;
	--c3-from: rgb(37, 99, 235);
	--c3-to: rgb(124, 58, 237);
}

.c3-link:active {
	color: transparent;
	--c3-from: var(--red / 100%);
	--c3-to: var(--red / 100%);
}

.button,
::file-selector-button {
	inline-size: fit-content;
	touch-action: manipulation;
	user-select: none;
}

* {
	&:focus-visible {
		outline: 2px solid var(--red / 100%);
		outline-offset: 2px;
	}
}